<h1>Conversations</h1>
<div class="panel">
  <h3>Inbox</h3>
  <ul>
    <%= render collection: mailbox.inbox, partial: 'conversation' %>
  </ul>
  <h3>Sentbox</h3>
  <ul>
    <%= render collection: mailbox.sentbox, partial: 'conversation' %>
  </ul>
  <h3>Trash</h3>
  <ul>
    <%= render collection: mailbox.trash, partial: 'conversation' %>
  </ul>
  <%= link_to 'Start Conversation', :new_conversation %>
</div>
