<div class="row">
  <div class="columns large-12">
    <br>
    <h3>
      <div class="small-10 small-offset-1 columns">
      Want to work with someone on a creative project? <br>
      Find users and projects that match your interests.
    </div>
    </h3>
    <div class="small-8 small-offset-5 columns">
    <% if !@users.empty? %>
      <table>
        <tr>
          <th>Name</th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    </div
  </div>
</div>
