<div class="row">
  <div class="small-5 small-offset-2 column">
    <% if !@users.empty? %>
      <table>
        <tr>
          <th><h4>Explore people</h4></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.username, user_path(user) if user != current_user %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
